* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    padding: 40px 16px;
}

/*.container :not(:last-child) {
    margin-right: 12px;
}*/

.section {
    width: 100%;
    float: none;
    position: relative;
    border: 1px solid black;
    border-radius: 4px;
    padding: 12px;
    background-color: #989a99;
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    border: 1px solid black;
}

.section-description {
    margin-top: 32px;
}

.chicken {
    background-color: #d59996;
}

.beef {
    background-color: #c14643;
}

.sushi {
    background-color: #e5d198;
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 50%;
        float: left;
    }
}

@media (min-width: 992px) {
    .section {
        width: 33.33%;
        float: left;
    }
}
